﻿/*#!/usr/bin/python
# coding: utf-8
# Copyright @brbolha <brbolha@gmail.com> 2018. 
# License: MIT <https://mit-license.org/>
# =================================================================================

# ### loterias brasileiras
*/


html, body {  
    margin: 0;  
    padding: 0; 
}


body {
    width: 50%;
    margin-left: 25%;
    font-family: helvetica;
}

table {
    width: 100%;
    border-spacing: 0;
}

h1 span {/*time()*/
    display: table;
    font-size: x-small;
    font-weight: 100;
}


tbody tr td:last-child, thead tr th:last-child { /*não retirar estes dois desta ordem*/
    width: 67%;
    text-align: right;
    
}

tbody tr td:first-child, thead tr th:first-child { /*não retirar estes dois desta ordem*/
    width: 23%;
    text-align: left;
    
}

tbody tr td:first-child + td, thead tr th:first-child + th{
    text-align: right;
    
}

tbody tr td ul{
    text-align: right;
    
}

tr.msg{
    /* color: red; */
    font-weight: bold;
    font-size: small;
}

.premiada{
    color: green;
}

.concurso, .resultado, .premiacao, .aposta, header, div.resumo{
    border-bottom-width: thin;
    border-bottom-style: dotted;
    border-bottom-color: grey;
}

.aposta thead {
    background-color: #f4f4f6;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

.aposta ul{
    margin-top: 2px;
    
}

/*bolas azuis*/
.ul_sorteadas li{
    font-size: .9rem;
    color: #fff;
    background: blue;
    border-radius: 35px;
    padding: 2px;
}

/*bolas normais*/
.ul_apostadas li{
    font-size: .9rem;
    border-radius: 35px;
    border-color: black;
    padding: 1px;
    border-style: solid;
    border-width: 1px;
}

.ul_simuladas{
    text-align: right;
}

/*bolas roxas*/
.ul_simuladas li {
    font-size: .9rem;
    color: #fff;
    background: #7B1FA2;
    border-radius: 35px;
    margin: 1px;
    padding: 2px;
}

ul li{
    min-width: 16px;
    text-align: center;    
    margin-top: 1px;
    margin-bottom: 1px;
}

.n_concurso{
    font-size: .9rem;
    color: #fff;
    background: blue;
    border-radius: 5px;
    padding: 1px;
}

.normal{
    font-size: .9rem;
    border-radius: 35px;
    border-color: black;
    padding: 1px;
    border-style: solid;
    border-width: 1px;
}

/*bolas verdes*/
.acerto {
    font-size: .9rem;
    color: #fff;
    background: green;
    border-radius: 35px;
    padding: 2px;
}

footer
{
    background: #f4f4f6;
    margin-bottom: 4em;
}

tfoot
{
    text-align: left;
    color: red;
    font-weight: normal;
    font-size: small;
}

/* ======================================== */
/* resumo */
/* ======================================== */

div.resumo table tr th:nth-child(2), div.resumo table tr th:nth-child(3),
div.resumo table tr td:nth-child(2), div.resumo table tr td:nth-child(3)  {
    text-align: center;
    
}
div.resumo table tr th:nth-child(4),
div.resumo table tr td:nth-child(4){
    text-align: right;
    
}

div.resumo table tbody tr td:first-child, div.resumo table thead tr th:first-child { /*não retirar estes dois desta ordem*/
    width: 20%;
    
}

div.resumo table tbody tr td:last-child, div.resumo table thead tr th:last-child { /*não retirar estes dois desta ordem*/
    width: 25%;
    
}

div.resumo table thead {
    background: #e9e9ea;
    
}

div.resumo table tbody tr:nth-child(even){
    background: #f4f4f6;
    
}

div.resumo .premiopago {
    font-weight: bold;
    color: blue;

    
}

div.msg{
    font-size: 1em;
    font-weight: normal;
    background: #f4f4f6;
    margin-bottom: 4em;
}

/* ======================================== */
/* pendentes */
/* ======================================== */

div.pendentes table{
    border-top-width: thin;
    border-top-style: dotted;
    border-top-color: grey;
}

div.pendentes table:last-child{
    margin-bottom: 60px;
}

div.pendentes .modal{
    font-size: .85rem;
    color: #fff;
    background: blue;
    border-radius: 5px;
    padding: 2px;
}

.pendentes tr:last-child th:first-child, 
.pendentes tr td:first-child {
    text-align: center;
    width: 60%;

    
}
.pendentes tr:last-child th:last-child, 
.pendentes tr td:last-child {
    text-align: center;

    
}

div.pendentes table tbody tr:nth-child(odd){/*zebrinha*/
    background: #f4f4f6;
    
}

#aposte {
    margin-bottom: 3em;
}














